@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Outfit:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #d5e1ef;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .attribution { 
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    font-size: 14px;
    text-align: center;
    width: 100%;
  }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }
  .cardContainer {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 17rem;
  }
  .cardContainer img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    max-height: 18rem;
      max-width: 18rem;
  }
  .cardContainer h1 {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
    color: #2b3444;
  }
  .cardContainer p {
    font-size: 12px;
    font-weight: 400;
    color: #adaeb3;
  }
